<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      lang="en">
                                  
<head>
    <meta content="text/html; charset=UTF-8"  http-equiv="content-type"  py:replace="''"/>
    <title>42-test-jeyzth4#1  {{title}}</title>
                                               


  <style type="text/css">

body {
      background-image: url(images/cell10x10.gif);
      background-position: top centr;
      background-repeat: repeat;
}

    #workspace {
      width: 960px ;
      margin-right: auto;
      margin-left: auto;
      padding-left: 30 px;
      overflow: hidden;

    }

    #lcolumn {
      float: left;
/*      margin-right: 380px; */
      width: 300px;
    /*  border: 2px solid red; */
    } 

    #rcolumn {
      margin-left: 380px;
      width: 300px;
    /*  border: 2px double lime; */
    }

   #multiline {
       color: red;
       font-weight: bold;
     margin-left: 10px;
     margin-right: 10px;
     padding: 5px; 
     border: 2px solid grey;
    }

    .sfields {
       color: red;
       font-weight: bold;
       border: 2px double black;
       margin: 2px;
       padding: 5px; 
    }


    ul {
      list-style: none;
    }

    li {
       margin: 5px;
       padding: 5px; 

	}
  </style>

</head>
<body>


<div id="workspace">
<h3> 42 Coffee Cups Test Assignment </h3>
<div id="lcolumn">
<ul>
  <li> Name:<span class="sfields">{{name}} </span> </li>
  <li> Surname:<span class="sfields">{{lastname}} </span> </li>
  <li> Date of Bird:<span class="sfields">{{dateofbird}} </span> </li>
  <li> Bio:
    <div id="multiline">{{bio}}</div>
  </li>
</ul>
</div>
<div id="rcolumn">

<ul>
  <li>Contacts:</li>
  <li> Email:<span class="sfields">{{email}} </span> </li>
  <li> Jabber: <span class="sfields">{{jabber}} </span> </li>
  <li> Skype: <span class="sfields">{{skype}}</span> </li>
  <li> Other contacts:
    <div id="multiline"> {{othr}}  </div>
  </li>
</ul>
</div>
</div>
</body>
</html>
